# =========================
# Python / 仮想環境
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# =========================
# 機械学習 / データ / モデル
# =========================
# ダウンロードしたデータセット
data/
datasets/

# PyTorchの学習済みモデル（重みファイル）
*.pt
*.pth
*.ckpt

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# エディタ / OS関連
# =========================
.vscode/
.DS_Store
Thumbs.db

# =========================
# メッセージBot
# =========================
GoogleCalender
MessageBot.py

# =========================
# 対象外フォルダ
# =========================
src/Automation
src/to-do-app
